<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!--여기 잇는 이 com.블라블라-->
<mapper namespace="com.team.NewLearn.mapper.community.CommunityMapper">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND">
            <foreach collection="typeArr" item="type" separator="or">
                <if test="type =='T'.toString()">
                    where  title like '%'|| #{keyword}||'%'
                </if>
                <if test="type =='C'.toString()">
                    where  content like '%'||#{keyword}||'%'
                </if>
                <if test="type =='W'.toString()">
                    where  writer like '%'|| #{keyword}||'%'
                </if>

            </foreach>
        </trim>
    </sql>

    <sql id="boardType">
        <trim prefix="(" suffix=") AND">
            <foreach collection="typeArr" item="type" separator="or">
--             f = free 자유 게시판
                <if test="type =='F'.toString()">
                    where  t.id = 1
                </if>
--             s = study 스터디 게시판
                <if test="type =='S'.toString()">
                    where  t.id = 2
                </if>

            </foreach>
        </trim>
    </sql>


    <select id="selectBoardAll" resultType="communityDTO">
        select b.id,
        b.memberId,
        t.typecode ,
        b.title,
        b.content,
        b.regDate
        from board as b

        inner join boardType as t on b.typeId = t.id

        <include refid="boardType"></include>

        order by b.id desc
        limit #{pageStart},#{amount}

    </select>

    <select id="getTotal" resultType="int">
        select count(id) from file_board
        where
        <include refid="boardType"></include>
        id > 0
    </select>


    <select id="boardDetail" parameterType="int" resultType="communityDTO">
        select b.id,
               b.memberId,
               t.typecode ,
               b.title,
               b.content,
               b.regDate
        from board as b
                 inner join boardType as t on b.typeId = t.id
        where b.id = #{id}
    </select>

    <insert id="boardInsert" parameterType="communityDTO" >

    insert into board (
       memberId,
       typeId,
       title,
       content)
            value (
                    #{memberId},
                    #{typeId},
                    #{title},
                    #{content}})

-
    </insert>

    <update id="boardUpdate" parameterType="communityDTO">

        update FILE_BOARD set

        title= <if test="title != null">#{title}</if>,

        content= <if test="content != null">#{content}</if>

        where id=#{id}

    </update>

    <delete id="boardDelete" parameterType="int">

        DELETE        FROM board        WHERE id = #{id}

    </delete>



</mapper>