<div th:replace="/layout/header.html :: header"></div>

<!-- contents start -->
<div class="container">
    <!-- 페이지 타이틀 -->
    <div class="page-title">
        <div class="page-title-inner">
            <h2>관리자</h2>
        </div>
    </div>

    <!-- 페이지 내용 -->
    <div class="wrapper">

        <!-- 게시판 카테고리 -->
        <div class="left-menu">
            <ul>
                <li ><a href="/admin/lecture">강의 <i class="fas fa-book-reader"></i></a></li>
                <li  ><a href="/admin/member">회원 <i class="fas fa-users"></i></a></li>
                <li class="on" ><a href="/admin/community">커뮤니티 <i class="fas fa-chalkboard-teacher"></i></a></li>
            </ul>
        </div>

        <!-- 게시판 시작 -->
        <div class="board-container">


            <!-- 게시판 -->
            <form name="form" th:object=${detail} method="post" th:action="@{/admin/member/delete}">
                <div class="board">
                    <table>
                        <colgroup>
                            <col style="width:15%">
                            <col style="width:20%">
                            <col style="width:15%">
                            <col style="width:10%">
                            <col style="width:20%">
                            <col style="width:20%">
                        </colgroup>
                        <tr class="bold">
                            <td>선택<br/><input type="checkbox"  name="selectall" onclick='selectAll(this)'/></td>
                            <td>email</td>
                            <td>name</td>
                            <td>role</td>
                            <td>passwordLock</td>
                            <td>regDate</td>
                        </tr>
                        <tr th:each="dto : ${result}">
                            <td><input type="checkbox" name="delete" th:value="${dto.id}" onclick='checkSelectAll()' ></td>
                            <td th:text="${dto.email}"></td>
                            <td th:text="${dto.name}"></td>
                            <td th:text="${dto.role}"></td>
                            <td th:text="${dto.passwordLock}"></td>
                            <td th:text="${dto.regDate}"></td>
                        </tr>
                    </table>
                </div>

                <div class="controller_container">
                    <div class="button_controller">
                        <button type="submit" value="delete"> 삭제</button>
                    </div>
                </div>
            </form>

            <!-- 검색 -->
            <div class="controller_container searchForm" >

                <form id='searchForm' action="/admin/community" method="get">
                    <div class="search-container">

                        <select name="type">
                            <option value="A" th:selected="${pageMaker.cri.type=='A'}">---</option>
                        </select>

                        <div class="search-textbox">
                            <i class="fas fa-search"></i>
                            <input type="text" name="keyword" >
                        </div>
                        <div>
                            <input type="submit" value="검색">
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
<!-- contents end -->

</body>

<script type="text/javascript" th:inline="javascript">

    function checkSelectAll()  {
        // 전체 체크박스
        const checkboxes = document.querySelectorAll('input[name="delete"]');
        // 선택된 체크박스
        const checked = document.querySelectorAll('input[name="delete"]:checked');
        // select all 체크박스
        const selectAll = document.querySelector('input[name="selectall"]');

        if(checkboxes.length === checked.length)  {
            selectAll.checked = true;
        }else {
            selectAll.checked = false;
        }

    }

    function selectAll(selectAll)  {
        const checkboxes
            = document.getElementsByName('delete');

        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked
        })
    }


</script>

<div th:replace="/layout/footer.html :: footer"></div>
