<div th:replace="/layout/header.html :: header"></div>

<!-- 페이지 타이틀 -->
<div class="page-title">
    <div class="page-title-inner">
        <h2>묻고 답해요</h2>
        <p>47만명의 커뮤니티!! 함께 토론해봐요</p>
    </div>
</div>

<!-- 페이지 내용 -->
<div class="wrapper">

    <!-- 게시판 카테고리 -->
    <div class="left-menu">
        <ul>
            <li class="on"><a th:href="@{/community/free}">자유주제
            <li class="fas fa-pen-square"></li>
            </a></li>
            <li><a th:href="@{/community/study}">스터디
            <li class="fas fa-comment-dots"></li>
            </a></li>
        </ul>
    </div>

    <!-- 게시판 시작 -->
    <div class="board-container">

        <form role="form" th:object=${detail} action method="get">
            <div>

                <label style="font-weight: bolder;">게시판 구분</label>
                <p th:text="${detail.typeName}"></p>
                <input type="hidden" th:field="${detail.typeName}">
            </div>
            <div>

                <label style="font-weight: bolder;">제목</label>
                <p th:text="${detail.title}"></p>
                <input type="hidden" th:field="${detail.title}">
            </div>
            <div>
                <label style="font-weight: bolder;">작성자</label>
                <p th:text="${detail.name}"></p>
                <input type="hidden" th:field="${detail.name}">
            </div>
            <div>
                <label style="font-weight: bolder;">등록 시간</label>
                <p th:text="${detail.regDate}"></p>
                <input type="hidden" th:field="${detail.regDate}">
            </div>

            <div>
                <label for="" style="font-weight: bolder;">내용</label>
                <p th:text="${detail.content}"></p>
                <input type="hidden" th:field="${detail.content}">
            </div>


            <div style="text-align: right;">
                <input type="submit" th:value="목록" formaction="/community/free">
                <input type="submit" th:value="수정" th:formaction="@{/community/update/{id}(id=${detail.id})}">
                <input type="submit" th:value="삭제" th:formaction="@{/community/delete/{id}(id=${detail.id})}">
            </div>
        </form>


    </div>

    <!-- contents end -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <div th:replace="/layout/footer.html :: footer"></div>

