<div th:replace="/layout/header.html :: header"></div>

            <!-- 페이지 타이틀 -->
            <div class="page-title">
                <div class="page-title-inner">
                    <h2>묻고 답해요</h2>
                    <p>47만명의 커뮤니티!! 함께 토론해봐요</p>
                </div>
            </div>

            <!-- 페이지 내용 -->
            <div class="wrapper">

                <!-- 게시판 카테고리 -->
                <div class="left-menu">
                    <ul>
                        <li class="on"><a th:href="@{/community/free}">자유주제 <li class="fas fa-pen-square"></li></a></li>
                        <li><a th:href="@{/community/study}">스터디 <li class="fas fa-comment-dots"></li></a></li>
                    </ul>
                </div>
                
                <!-- 게시판 시작 -->
                <div class="board-container">

                    <!-- 해결/미해결 선택 -->
                    <div class="filter-container">
                        <ul>
                            <li class="on"><a href="#none">전체</a></li>
                            <li><a href="#none">미해결</a></li>
                            <li><a href="#none">해결됨</a></li>
                        </ul>
                    </div>

                    <!-- 검색 -->
                    <div class="search-container">
                        <div class="search-textbox">
                            <i class="fas fa-search"></i>
                            <input type="text">
                        </div>
                        <input type="button" value="검색">
                    </div>

                    <!-- 정렬 -->
                    <div class="order">
                        <ul>
                            <li class="on"><a href="#none"><span class="fas">·</span> 최신순</a></li>
                            <li><a href="#none"><span class="fas">·</span> 최근 답변순</a></li>
                            <li><a href="#none"><span class="fas">·</span> 답변많은순</a></li>
                            <li><a href="#none"><span class="fas">·</span> 좋아요순</a></li>
                        </ul>
                        <div class="order_button"><button type="button" class="modal_btn" data-toggle="modal" data-target="#myModal">글쓰기</button></div>
                        <div class="container_">
                            <!-- Trigger the modal with a button -->
                            
                          
                            <!-- Modal -->
          <!--                  <form th:object=${communityDTOS} th:action="@{/community/free/write}"  >
                                <div class="modal fade" id="myModal" role="dialog">
                                  <div class="modal-dialog">

                                    &lt;!&ndash; Modal content&ndash;&gt;
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">커뮤니티</h4>
                                        <div class="modalHeaderBtn">
                                            <button class="on">질문</button>
                                            <button>자유주제</button>
                                        </div>

                                      </div>
                                      <div class="modal-body">
                                        <div class="form_name">
                                            <div><label for="userId">이름</label></div>
                                             <div>
                                                 <input  th:value="${name}" id="name" name="name"  >
                                             </div>
                                        </div>
                                        <div class="form_name">
                                            <div><label for="userId">제목</label></div>
                                             <div>
                                                 <input  th:field="*{title}" id="title" name="title"  placeholder="제목을 입력하세요">
                                             </div>
                                        </div>
                                        <div class="form_name">
                                            <div ><label for="userId">내용</label></div>
                                             <div class="form_name_text">
                                                 <input  th:field="*{content}" id="content" name="content"  placeholder="내용을 입력하세요">
                                             </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button>저장</button>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                            </form>-->
                          </div>
                    </div>

                    <!-- 게시판 -->
                    <div class="board">
                        <table>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:50%">
                                <col style="width:15%">
                                <col style="width:15%">
                                <col style="width:10%">
                            </colgroup>
                            <tr class="bold">
                                <td>글 번호</td>
                                <td>제목</td>
                                <td>작성자</td>
                                <td>등록일자</td>
                                <td>조회수</td>
                            </tr>
                            <tr th:each="data : ${communityDTOS}" th:onclick="|location.href='@{/community/detail/{id}(id=${data.id})}'|">
                                <td  th:text="${data.id}">01</td>
                                <td  th:text="${data.title}">안녕하세요~ 테스트 제목입니다!안녕하세요~ 테스트 제목입니다!안녕하세요~ 테스트 제목입니다!안녕하세요~ 테스트 제목입니다!</td>
                                <td  th:text="${data.name}">테스트</td>
                                <td  th:text="${data.regDate}">2021-05-21</td>
                                <td  th:text="${data.view}">21  </td>
                            </tr>
                        </table>
                    </div>
                </div>  
            </div>
        
        <!-- contents end -->
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div th:replace="/layout/footer.html :: footer"></div>
