<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang= "ko"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:fragment="header">
<head>
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/community_detail.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" href="/plugin/swiper.min.css">
    <script src="/plugin/swiper.min.js"></script>
    <script type="text/javascript" src="/js/basic.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

<!--성준 시작 -->
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">
<!--    성준 끝-->

    <meta charset="utf-8">
    <title>Newlearn</title>
</head>
<body>
<!-- 헤더 start -->
<header id="header">
    <div class="header-con">
        <h1 class="logo"><a th:href="@{/main}"><img th:src="@{/img/logo.png}"></a></h1>
        <ul class="mainMenu">
            <li class="menu"><a th:href="@{/lecturelist}">강의</a></li>
            <li class="menu"><a th:href="@{/pwFind}">비번 찾기</a></li>
            <li class="menu"><a th:href="@{/cart/list}">장바구니</a></li>
            <li class="menu"><a th:href="@{/mypage/select}">마이페이지</a></li>
            <li sec:authorize="!isAuthenticated()" class="menu"> <a th:href="@{/login}">[로그인]</a></li>
            <li sec:authorize="isAuthenticated()" class="menu"> <a th:href="@{/logout}">[로그아웃]</a></li>

        </ul>
        <ul class="rightMenu">
            <li class="header-search">
                <input type="text" class="search_txt" id="search_txt"/>
                <a href="#"><img th:src="@{/img/icon_search.png}" onclick="search()"></a>
            </li>
            <li id="header-cart"><a href="#"><img src="/img/icon_cart.png"></a>
                <div class="cart-modal" id="cartModal">
                    <div class="cart-modal-title">장바구니<span>(2)</span></div>
                    <ul class="cart-list">
                        <li>
                            <a href="#none" class="thumb"><img src="@{/img/thumb_01.png}"></a>
                            <div class="info">
                                <a href="#" class="title">비전공자를 위한 진짜 올인원 개발 클래스</a>
                                <p class="price">₩143,000</p>
                            </div>
                        </li>
                        <li>
                            <a href="#none" class="thumb"><img src="/img/thumb_02.png"></a>
                            <div class="info">
                                <a href="#" class="title">비전공자를 위한 진짜 올인원 개발 클래스</a>
                                <p class="price">₩143,000</p>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="go-cart">장바구니로 이동하기</a>
                </div>
            </li>
            <li>
                <a href="#" class="header-person"><img src="/img/icon_person.png"></a>
                <a class="menu-trigger" id="menuTrigger" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </li>
        </ul>
        <!-- 모바일 슬라이드 메뉴 -->
        <div class="slide" id="slide">
            <div class="slide-login">
                <a th:href="@{/login}" class="login">LOGIN</a>
                <a th:href="@{/sign-up}" >JOIN</a>
            </div>
            <div class="slide-search">
                <input type="text" placeholder="검색어를 입력해주세요">
                <a href="#none"><i class="fas fa-search"></i></a>
            </div>
            <div class="slide-menu">
                <ul class="super">
                    <li id="super"><a href="#none">Menu1</a>
                        <ul class="sub">
                            <li><a href="#none">Menu1</a></li>
                            <li><a href="#none">Menu1</a></li>
                            <li><a href="#none">Menu1</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="super">
                    <li id="super"><a href="#none">Menu2</a>
                        <ul class="sub">
                            <li><a href="#none">Menu2</a></li>
                            <li><a href="#none">Menu2</a></li>
                            <li><a href="#none">Menu2</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="super">
                    <li id="super"><a href="#none">Menu3</a>
                        <ul class="sub">
                            <li><a href="#none">Menu3</a></li>
                            <li><a href="#none">Menu3</a></li>
                            <li><a href="#none">Menu3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="subMenu-con" id="subMenu-con">
        <div class="subMenu">
            <ul class="sub">
                <li><a href="lectureList.html">메뉴1</a></li>
                <li><a href="lectureList.html">메뉴1</a></li>
                <li><a href="lectureList.html">메뉴1</a></li>
            </ul>
            <ul class="sub">
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴2</a></li>
            </ul>
            <ul class="sub">
                <li><a href="#">메뉴3</a></li>
                <li><a href="#">메뉴3</a></li>
                <li><a href="#">메뉴3</a></li>
            </ul>
            <ul class="sub">
                <li><a href="#">메뉴4</a></li>
                <li><a href="#">메뉴4</a></li>
                <li><a href="#">메뉴4</a></li>
            </ul>
        </div>
    </div>
</header>
</body>
</html>
<!-- 헤더 end -->