<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team.NewLearn.mapper.review.ReviewMapper">

    <select id="selectReviewList" resultType="reviewDTO">
        select r.id, r.lectureId, r.memberId, DATE_FORMAT(r.regDate, '%Y-%m-%d')regDate, r.content, m.email
        from review as r
             join member as m
                  on r.memberId = m.id where lectureId = #{lectureId};
    </select>

    <select id="countReview" resultType="int">
        SELECT count(*) FROM review WHERE lectureId=#{lectureId}
    </select>

    <insert id="insertReview" parameterType="reviewDTO">
        INSERT INTO review (lectureId, memberId, content)
        VALUES(#{lectureId},#{memberId},#{content})
    </insert>

    <update id="updateReview" parameterType="reviewDTO">
        UPDATE review
        SET content=#{content}
        WHERE id=#{id}
    </update>

    <delete id="deleteReview" parameterType="int">
        DELETE FROM review
        WHERE id=#{reviewId}
    </delete>


</mapper>