<div th:replace="/layout/header.html :: header"></div>
<link rel="stylesheet" type="text/css" th:href="@{/css/detail.css}">

<!-- contents start -->
<div class="content">
    <div class="btn-group">
        <button th:onclick="|location.href='@{/goToAddUnit/{id}(id=${lectureDTO.id})}'|" class="bl-btn">동영상 등록</button>
    </div>
  <form role="form" th:object=${lectureDTO} th:action
        method="post" enctype="multipart/form-data">
    <h2 class="title">
      <span>개발 · 프로그래밍&nbsp;&nbsp;<i class="fas fa-chevron-right left-arrow"></i>&nbsp;&nbsp;웹 개발</span><br>
      <span th:text="${lectureDTO.title}" class="title-text"></span>
      <br><p><span><i class="fas fa-star"></i> 4.89</span> ∙ 107개의 수강평 ∙ 1821명의 수강생 ∙ <i class="fas fa-user"></i> 1분코딩</p>
    </h2>
    <div class="info">
      <div class="info-inner">
        <div class="thumb"><img th:src="@{/img/thumbnail/{uuid}_{filename}(uuid=${lectureDTO.uuid},filename=${lectureDTO.filename})}" ></div>
        <div class="check">
          <h2 th:text="${lectureDTO.content}"></h2>
          <ul>
            <li><i class="fas fa-check"></i>&nbsp;&nbsp;애플 웹사이트에 자주 사용되는 고급 인터랙션 기법</li>
            <li><i class="fas fa-check"></i>&nbsp;&nbsp;고해상도 비디오 인터랙션</li>
            <li><i class="fas fa-check"></i>&nbsp;&nbsp;애플 웹사이트에 자주 사용되는 고급 인터랙션 기법</li>
            <li><i class="fas fa-check"></i>&nbsp;&nbsp;고해상도 비디오 인터랙션</li>
          </ul>
        </div>
      </div>
    </div>

      <!--가격 / 수강신청 / 강의설명 시작-->
      <div class="lecture_container">
        <img src="/img/nThumb_01.png" id="lecture-content" name="lecture-content">
          <div class="list_subscription">
              <h2 th:text="${lectureDTO.price}" id="lecture-price" name="lecture-price">1000</h2>
              <button type="button" id="subscription" name="subscription">수강신청</button>
          </div>
      </div>
       <!--가격 / 수강신청 / 강의설명 끝-->

      <!--강의 유닛 start-->
      <div class="container">
          <h3 style="font-size: 30px">교육과정</h3>
          <br>
          <ul class="list-group">
              <li th:each="lectureUnitDTO:${lectureUnitDTOs}"
                  th:onclick="|location.href='@{/unit/{id}/{originId}(id=${lectureUnitDTO.id},originId=${lectureUnitDTO.id})}'|"
                  class="list-group-item">
                  <a> [[${lectureUnitDTO.title}]]
                      <span class="badge" th:text="${lectureUnitDTO.lectureLength}"></span>
                  </a>
              </li>
          </ul>
      </div>
      <!--강의유닛 end-->

    <div class="btn-group">
      <input class="wh-btn" type="submit" th:value="삭제" th:formaction="@{/delete/{id}(id=${lectureDTO.id})}">
      <input class="wh-btn" type="submit" th:value="수정" th:formaction="@{/edit/{id}(id=${lectureDTO.id})}">
      <input class="wh-btn" type="submit" th:value="목록" th:formaction="@{/lecturelist}">
    </div>
  </form>
</div>
<!-- contents end -->

<!-- 수강후기 start -->
<div class="review-list">
    <button class="btn-open-modal">수강후기 작성하기</button>
    <h2 class="review-title">수강후기</h2>
    <div class="reviewList"></div>
</div>
<!-- 수강후기 end -->

<!-- 수강후기 모달 start -->
<div class="modal">
    <form name="reviewInsertForm">
        <div class="modal_body">
            <h2 class="title-modal">📄수강후기 작성</h2>
            <button class="btn-close-modal" type="button">❌</button>
            <textarea class="review-content" name="content" cols="60" rows="10" placeholder="수강평을 작성해주세요.(1000자 제한)"></textarea>
            <button class="btn-write-review" type="button">작성하기</button>
            <input type="hidden" id="lectureId" name="lectureId" th:value="${lectureDTO.id}"/>
        </div>
    </form>
</div>
<!-- 수강후기 모달 end -->

<div th:replace="/layout/footer.html :: footer"></div>

<script src="/js/review.js"></script>
<script src="/js/lecture.js"></script>