<div th:replace="/layout/header.html :: header"></div>
<link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">

<!-- contents start -->
<div class="content">
    <ul class="leftmenu">
        <li id="leftmenuUnit"><a href="#none">전체 강의<i class="fas fa-chevron-right left-arrow"></i></a>
            <ul class="leftmenu-sub">
                <li><a href="#none">ALL</a></li>
                <li><a href="#none">웹 개발</a></li>
                <li><a href="#none">모바일 앱 개발</a></li>
                <li><a href="#none">게임 개발</a></li>
            </ul>
        </li>
        <li><a href="#none">개발·프로그래밍<i class="fas fa-chevron-right left-arrow"></i></a></li>
        <li><a href="#none">보안·네트워크<i class="fas fa-chevron-right left-arrow"></i></a></li>
        <li><a href="#none">데이터 사이언스<i class="fas fa-chevron-right left-arrow"></i></a></li>
        <li><a href="#none">크리에이티브<i class="fas fa-chevron-right left-arrow"></i></a></li>
        <li><a href="#none">업무 스킬<i class="fas fa-chevron-right left-arrow"></i></a></li>
    </ul>

    <div class="lectureList">
        <div class="">
            <ul class="lecture-list">
                <li th:each="lectureDTO : ${lectureDTOs}" th:onclick="|location.href='@{/detail/{id}(id=${lectureDTO.id})}'|">
                    <div class="hover-info">
                        <h2 th:text="${lectureDTO.title}"></h2>
                        <p th:text="${lectureDTO.content}"></p>
                        <p class="category"><img src="img/icon_cate.png"> JAVA,JSP,웹 개발</p>
                    </div>

                    <a href="#" class="thumb"><img th:src="@{/img/thumbnail/s_{uuid}_{filename}(uuid=${lectureDTO.uuid},filename=${lectureDTO.filename})}" ></a>

                    <a href="#" class="title" th:text="${lectureDTO.title}"></a>
                    <span class="info"><span class="teacher">그랩</span> · <span class="score">★★★★★</span><span class="review-cnt">(51)</span></span>
                    <p class="price listPrice" th:text="${lectureDTO.price}"></p>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button th:onclick="|location.href='@{/goToAdd}'|" class="bl-btn">글작성</button>
        </div>
    </div>
</div>
<!-- contents end -->

<div th:replace="/layout/footer.html :: footer"></div>

