<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.team.NewLearn.mapper.cart.CartMapper">

    <resultMap id="cartMap" type="com.team.NewLearn.dto.cart.CartDTO">
        <result column="id" property="id"/>
        <result column="memberId" property="memberId"/>
        <result column="lectureId" property="lectureId"/>
    </resultMap>

    <resultMap id="lectureMap" type="com.team.NewLearn.dto.lecture.LectureDTO">
        <result column="title" property="title"/>
        <result column="price" property="price"/>
    </resultMap>

    <resultMap id="cartListMap" type="com.team.NewLearn.dto.cart.CartList">
        <collection property="cart" resultMap="cartMap"/>
        <collection property="lecture" resultMap="lectureMap"/>
    </resultMap>

    <select id="selectCartList" resultMap="cartListMap" parameterType="int">
        SELECT c.id,c.memberId,c.lectureId,l.title,l.price
        FROM cart c
                 inner join lecture l on c.lectureId=l.id
        where c.memberId=#{memberId}
    </select>

    <!-- 카트 모두 삭제 -->
    <delete id="deleteCartAll" parameterType="int">
        DELETE FROM cart WHERE memberId = #{memberId}
    </delete>

    <!-- 카트 부분 삭제 -->
    <delete id="deleteCart" parameterType="cartDTO">
        DELETE FROM cart WHERE id = #{id} and memberId = #{memberId}
    </delete>

    <!-- 카트에 같은 강의 존재 여부확인 -->
    <select id="countLecture" parameterType="cartDTO" resultType="int">
        SELECT count(*) FROM cart WHERE memberId = #{memberId} and lectureId = #{lectureId}
    </select>

    <!-- 카트에 강의 등록 -->
    <insert id="insertLecture" parameterType="cartDTO">
        INSERT INTO cart(memberId,lectureId) values(#{memberId},#{lectureId})
    </insert>



</mapper>


