<div th:replace="/layout/header.html :: header"></div>

<div class="container">
    <h1><b>[ 장바구니 ]</b></h1>
    <div>장바구니 내 총 강의 수 : <span th:text="${#lists.size(cartLists)}"></span></div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">장바구니</th>
            <th scope="col">강의제목</th>
            <th scope="col">가격</th>
            <th scope="col">삭제하기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartList : ${cartLists}">
            <td th:text="${cartList.cart.id}">1</td>
            <td th:text="${cartList.lecture.title}">spring</td>
            <td th:text="${cartList.lecture.price}" class="lecture_price">20000</td>
            <td><button class="delete-btn" th:value="${cartList.cart.id}">삭제하기</button></td>
        </tr>
        </tbody>
    </table>

</div>
<br>
<div class="container">
    <h3 id="total_sum"></h3>
</div>
<br>
<div class="container">
    <h3>[ 필수 입력 정보 ]</h3>
    <br>
    <form action="/order" >
        <label>이름</label>
        <input type="text" name="name" value="">
        <label>전화번호</label>
        <input type="text" name="tel" value="">
        <label>이메일</label>
        <input type="text" name="email" value="">
        <br>
        <br>
     <input type="submit" class="btn btn-primary" id="pay-btn" value="결제하기"/>
    </form>
</div>

<div th:replace="/layout/footer.html :: footer"></div>