<div th:replace="/layout/header.html :: header"></div>
<link rel="stylesheet" type="text/css" href="/css/cart.css">

<div class="cart-bar"><span>수강바구니</span></div>
<div class="cart-wrapper">
    <div class="cart-bar2">
        <span><a href="#">내 쿠폰함 ></a></span>
        <span><a href="#">위시리스트 ></a></span>
    </div>

    <table class="cart-list">
        <thead>
        <tr>
            <th scope="col">장바구니</th>
            <th scope="col">강의제목</th>
            <th scope="col">가격</th>
            <th scope="col">삭제하기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartList : ${cartLists}">
            <td th:text="${cartList.cart.id}">1</td>
            <td th:text="${cartList.lecture.title}">spring</td>
            <td th:text="${cartList.lecture.price}" class="lecture_price">1000</td>
            <td><button class="delete-btn" th:value="${cartList.cart.id}">삭제하기</button></td>
        </tr>
        </tbody>
    </table>
    <div class="payOutBox">
        <div class="payBox">
            <span id="total">총 가격 : <span id="total_sum">0</span>원</span>
            <p>이름</p>
            <input type="text" id="name">
            <p>전화번호(-제외 숫자만)</p>
            <input type="text" id="tel">
            <p>이메일 주소</p>
            <input type="text" id="email">
            <!--<input type="checkbox" value="동의?">-->
            <input class="button" type="button" value="결제하기" onclick="payment()">
        </div>
    </div>
    <div>
        <input type="text" id="couponCode" name="couponCode">
        <input type="hidden" id="discount" name="discount" value="0">
        <button onclick="coupon()">쿠폰적용</button>
    </div>

</div>

<div th:replace="/layout/footer.html :: footer"></div>

<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script src="/js/cart.js"></script>