.cart-wrapper{
    max-width:1180px;
    margin: 0 auto;
}
.cart-bar{
    background-color: rgb(38, 51, 104);
    height: 55px;
    margin-bottom:30px;
    line-height: 55px;
}
.cart-bar > span {
    margin-left: 100px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.cart-bar2{
    font-size: 15px;
    margin-bottom: 50px;
    font-weight: bold;

}
.cart-list{
    float:left;
    width:700px;
    height:250px;
    border:2px solid #4a81ff;
    border-radius:5px;
    table-layout: fixed;
    background-color: #f9fbff;
    margin-right: 30px;

}
.cart-list th{
    background-color: #4a81ff;
    font-weight: bold;
}
.cart-list td,th {
    border-bottom:2px solid #4a81ff;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
}

.payOutBox{
    float:left;
    width:300px;
    height:410px;
    background-color: #fff;
    border:3px solid #e2e2e2;
    border-radius: 5px;
}
.payBox{
    width:280px;
    height:370px;
    margin: 20px auto;
}
.payOutBox > div > #total{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 10px;
    background-color: #4a81ff;
}
.payOutBox > div> p{
    font-weight: bold;
    color: #3f3f3f;
}
.payOutBox > div > input{
    display: block;
    width: 280px;
    height: 30px;
    background-color: #ececec;
    border: none;
    margin-bottom: 20px;
}
.payOutBox > div > input.button{
    width: 280px;
    height: 70px;
    color: white;
    font-size:25px;
    font-weight:bold;
    background-color: #4a81ff;
}
