
#lookup__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
   
}

.lookup__logo img{
   width: 240px;
   height: 30px;
}

.lookup__discreption {
    margin-top: 30px;
}

.lookup__discreption p {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    
}

.lookup__box input {
    margin-top: 30px;
    width: 350px;
    height: 45px;
    font-size: 15px;
    color: darkgray;
    background-color: rgb(233, 230, 230);
    border: 1px solid rgb(212, 210, 210)
    
}

.lookup__submit input {
    margin-top: 20px;
    width: 360px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(120, 120, 247);
    border-radius: 5%;

}

