


section {

    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

/* 폼 수정 */

.form-container {
    flex-direction: column;
}

.regester__contant {
    display: flex;
    position: relative;
    flex-direction: row;
    

    
}

.field__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.content__fild {
    margin-right: 30px;
}

.fieldlabel {
    margin:25px 20px 50px 0 ;
}
.register__bottom {
    position: relative;
    display: flex;
    flex-direction: column;
}

#userId,
#userPw {
    font-size: 20px;
    font-weight: bold;
}

#email,
#name,
#password,
#passwordCheck {
    width: 270px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}

.formfield {
    margin-bottom: 24px;
}

.contant__api {
    position: relative;
    list-style: none;
    
}
.contant__api li{
    margin-bottom: 24px;
}

.btm_image {
    color: white;
    font-size: medium;
    width: 200px;
    height: 40px;
    border: 1px solid white;
    border-radius: 7%;

}

.register__bottom {
    margin-bottom: 70px;
}




#register_submit {
    
    margin: 40px auto;
    width: 200px;
    height: 40px;
    background-color: rgb(120, 171, 230);
    color: white;
    border: 1px solid white;
    border-radius: 7%;

}

.register__Top {
    width: 100%;
    margin: auto;
}

.register__Top h1 {
    font-size: 30px;
    margin: 100px 0px 50px 0;
}

#btm_imageT {
    background-color: black;
}

#btm_imageF {
    background-color: rgb(61, 61, 121);
}
#btm_imageG {
    background-color: rgb(196, 58, 58);
}

#btm_imageA {
    background-color: white;
    color: black;
    border: 1px solid black;
}
