
.title {
  background:#4a81ff;
  padding:0 50px;
  box-sizing: border-box;
}
.title > h2 {
  font-size: 23px;
  line-height:70px;
  font-weight:bold;
  text-align:Center;
  color:#fff;
}
iframe {
  width:100%;
  height:calc(100vh - 123px);
  margin:0;
}
.btn-bar {
  height:50px;
  background:#f5f5f5;
  text-align:center;
}
.btn-bar > a {
  line-height:50px;
  font-weight: bold;
}
.btn-bar > a:first-child {
  margin-right:70px;
}