<div th:replace="/layout/header.html :: header"></div>


        <h1 class="mt-4">회원 정보 수정 </h1>

        <form role="form" action method="post" th:object=${update}>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <input type="hidden" id="memberId" name="memberId" th:value="${update.memberId}"  >
                    <td><p  th:text="${update.memberId}"></p></td>
                    <td><p  th:text="${update.email}"></p></td>
                    <td><input type="text" id="name" name="name" th:value="${update.name}"></td>
                    <td><input type="password" id="password" name="password" th:value="${update.password}"></td>

                    <td><input class="btn_wrap text-left" type="submit" value="수정완료"  th:formaction="@{/mypage/update}"></td>

                </tr>
                </tbody>

            </table>
        </form>


<div th:replace="/layout/footer.html :: footer"></div>